body {
    font-family: "Merriweather";
    font-size: 20px;
    line-height: 28px;

}

div {
    /* my styles */
}

.article-hed {
    max-width: 500px;
    margin: auto;
    border-left-width:
}

.hed {
    text-align: center;
}

.byline {
    font-size: 18px;

}

h1 {
    line-height: 60px;
    font-size: 50px;
    font-weight: bold;

}

.dek {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

.article-photo {
    max-width: 800px;
    margin: auto;
}

.photo {
    width: 100%;
}

.photo-caption {
    font-family: "Lato";
    font-size: 14px;

}

.article-copy {
    text-align: left;
    padding-right: 25%;
    padding-left: 25%;


}





.bold {
    font-weight: bold;
}