body {
    font-family: "American Typewriter";
    font-size: 20px;
    line-height: 28px;

}

div {
    /* my styles */
}

.article-hed {
    max-width: 500px;
    margin: auto;
    border-left-width:
}

.hed {
    font-size: 36px;
    /*font-weight: 400;*/
    color: orange;
}

.dek {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}






.bold {
    font-weight: bold;
}